{% load static %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
{% block title %}
  <title>Home</title>
{% endblock title %}
<link href="{% static 'main.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
<div id="wrapper">
  <header id="header">
    <div id="topbanner"><img src="{% static 'top_banner.png' %}" width="500" height="100" alt=""/></div>    
  </header>
  <aside id="leftsidebar">
    <nav id="nav">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/employees">Employees</a></li>
      <li><a href="/clients">Clients</a></li>
      <li><a href="/engagements">Engagements</a></li>
    </ul>
    </nav>
    </nav>
    </nav>
  </aside>
  <section id="main">
    <br>
    {% block content %}
      <h1>Welcome!</h1>
      <p>This is a website application for managing the client engagements of employees.</p>
    {% endblock content %}  
  </section>
  <footer id="footer">Copyright &copy; 2021 Blackbook.ai</footer>
</div>
</body>
</html>

