{% extends "base.html" %}

{% block title %}<title>{{ pageTitle }}</title>{% endblock title %} 

{% block content %}
{% autoescape off %} 
<p style="text-align:center">
    Page last updated: {{ last_updated|date:'D d F Y'}}
</p>

<table class="centerTable">
    <tr class="quotehdr">
        <th>Client Id</th>
        <th>Client Name</th>
    </tr>
    {% for client in clients %}
        <tr class="quoterow {% cycle '' 'altrow' %}">
            <td>{{ client.id }}</td>
            <td>{{ client.name }}</td>
        </tr>
    {% endfor %}
</table>
{% endautoescape %} 

{% endblock content %}