{% extends "base.html" %}

{% block title %}<title>{{ pageTitle }}</title>{% endblock title %} 

{% block content %}
{% autoescape off %} 
<a href="/employees/search">
    <button>Search for Employee</button>
</a>
<p style="text-align:center">
    Page last updated: {{ last_updated|date:'D d F Y'}}
</p>

<table class="centerTable">
    <tr class="quotehdr">
        <th>Employee Id</th>
        <th>Employee Name</th>
    </tr>
    {% for employee in content %}
        <tr class="quoterow {% cycle '' 'altrow' %}">
            <td>{{ employee.id }}</td>
            <td>{{ employee.name }}</td>
        </tr>
    {% endfor %}
</table>
{% endautoescape %} 

{% endblock content %}